.brd{
    border: solid 1px black;
    /* color: #8aa82d; */
}

.hero_config{
    height: 900px;
    object-fit: cover;
    object-position: -58px -90px;
    filter: brightness(100%);
}

.intro_row{
    height: 45rem;
    background-image: url("../images/project_bg.png");
    background-size: contain;
}

.intro_font{
    font-family: "Century Gothic";
    font-size: 50px;
    padding-top: 16rem;
    color: white;
}

.first_section{
    height: 45rem;
}

.second_section{
    height: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: solid 3.5px #8AA82D;
    padding: 20px 0;
}

.ss_header{
    font-family: "Calibri";
    font-size: 23px;
    color: #6b8910;
    font-weight: bold;
    padding-bottom: 13px;
}
.ss_content{
    font-family: "Calibri";
}
.third_section{
    padding: 80px 0;
}

/* #second_section_header{
    
    padding-left: 30px;

} */

.text_config{
   font-size: 35px;
   font-family: "Arial Black";
   /* font-family: "Bahnschrift SemiBold"; */
   font-style: bold;
}

.text2_config{
    text-align: end;
    font-style: italic;
}

.quote_config{
    position: relative;
    z-index: 1;
    left: 46%;
    top: 24%;
    width: 460px;
    color: white;
    overflow-wrap: break-word;
    
}